<nz-card nzTitle="{{ title }}" class="tm" [nzExtra]="extraTemplate">
  <div *ngIf="hideTable">
    <nz-table
      [nzLoading]="loading"
      [nzPageSize]="10"
      [nzPageSizeOptions]="[5, 10, 20]"
      #salesTable
      nzShowPagination
      nzShowSizeChanger
      nzSize="small"
      [nzData]="calculation"
      [nzShowTotal]="rangeTemplate"
    >
      <thead>
        <tr>
          <th>S.No</th>
          <th>Broker Name</th>
          <th>Date</th>
          <th>Total Sales</th>
          <th>{{ title }} Percentage</th>
          <th>{{ title }} Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of salesTable.data; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ data.brokerName }}</td>
          <td>{{ data.calcDate | date: "yyyy-MM-dd" }}</td>
          <td>{{ data.totalSales }}</td>
          <td>{{ data.calcPercentage }}</td>
          <td>{{ data.calcAmount }}</td>
          <!-- <td>
            <a
              [routerLink]="['/calculation/edit', data.brokerId]"
              nz-icon
              [nzType]="'edit'"
              [nzTheme]="'twotone'"
              nz-tooltip
              nzTooltipTitle="Edit"
            ></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-tooltip
              nzTooltipTitle="Delete"
              nz-icon
              [nzType]="'delete'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#eb2f96'"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              [nzIcon]="iconTpl"
              nzOkText="ok"
              nzCancelText="cancel"
              (nzOnConfirm)="delData(data.id)"
            ></a>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
    <div nz-row nzJustify="end">
      <button nz-button nzType="primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
  <nz-alert
    *ngIf="alert"
    nzType="info"
    nzMessage="Informational Notes"
    nzDescription="Calculated {{ title }} to Broker you can pay the broker"
    nzShowIcon
  ></nz-alert>
</nz-card>

<ng-template #extraTemplate>
  <div nz-row>
    <div nz-col>
      <!-- <nz-range-picker
        [(ngModel)]="date"
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>

      <button nz-button nzType="primary" class="lm" (click)="loadData()">
        Calculate
      </button> -->
      <form nz-form [formGroup]="validateForm" (ngSubmit)="loadData()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Date required to calculate!">
            <nz-range-picker
              formControlName="rangePicker"
              (ngModelChange)="onChange($event)"
            ></nz-range-picker>
            <button nz-button nzType="primary" class="lm">Calculate</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <!-- <div nz-col>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          [(ngModel)]="searchValue"
          type="text"
          nz-input
          placeholder="Search table"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div> -->
    <!-- <button
      nz-col
      nz-button
      nzType="primary"
      [routerLink]="['/summary/add']"
      class="lm"
    >
      Add
    </button> -->
  </div>
</ng-template>

<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
