<button nz-button nzType="primary" (click)="addBrokerM()">Add</button>
<nz-table [nzPageSize]="5" [nzData]="brokers">
  <thead>
    <tr>
      <th>Broker Id</th>
      <th>Name</th>
      <th>Address Line 1</th>
      <th>Address Line 2</th>
      <th>City</th>
      <th>Mobile</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of brokers">
      <td>{{ data.brokerId }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.addressLine1 }}</td>
      <td>{{ data.addressLine2 }}</td>
      <td>{{ data.city }}</td>
      <td>{{ data.contactNumber }}</td>
      <td>
        <a
          (click)="showModal()"
          nz-icon
          [nzType]="'edit'"
          [nzTheme]="'twotone'"
          nz-tooltip
          nzTooltipTitle="Edit"
        ></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-icon
          [nzType]="'delete'"
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#eb2f96'"
          nz-tooltip
          nzTooltipTitle="Delete"
        ></a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="The first Modal"
  nzOkText="Submit"
  nzKeyboard
  nzMaskClosable
>
  <p>Content one</p>
  <p>Content two</p>
  <p>Content three</p>
  <p>Content three</p>
</nz-modal>
<nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="addModal"
  nzTitle="Add Broker"
  (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()"
>
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="email" type="email" id="email" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
