<div>
  <h2>Brokers</h2>
</div>
<div nz-row nzJustify="end">
  <div nz-col class="top-bottom-space">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        [(ngModel)]="sValue"
        type="text"
        nz-input
        placeholder="Search table"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()">
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>
  <button
    nz-col
    nz-button
    nzType="primary"
    [routerLink]="['/add-edit', index]"
    class="top-bottom-space"
  >
    Add
  </button>
</div>
<nz-table [nzPageSize]="5" [nzData]="brokers">
  <thead>
    <tr>
      <th>Broker Id</th>
      <th>Name</th>
      <th>Address Line 1</th>
      <th>Address Line 2</th>
      <th>City</th>
      <th>Mobile</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let data of brokers | searchFilter: searchValue;
        let index = index
      "
    >
      <td>{{ data.brokerId }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.addressLine1 }}</td>
      <td>{{ data.addressLine2 }}</td>
      <td>{{ data.city }}</td>
      <td>{{ data.mobileNumber }}</td>
      <td>
        <a
          [routerLink]="['/add-edit', index]"
          nz-icon
          [nzType]="'edit'"
          [nzTheme]="'twotone'"
          nz-tooltip
          nzTooltipTitle="Edit"
        ></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-tooltip
          nzTooltipTitle="Delete"
          nz-icon
          [nzType]="'delete'"
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#eb2f96'"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure?"
          [nzIcon]="iconTpl"
          nzOkText="ok"
          nzCancelText="cancel"
          (nzOnConfirm)="delData(index)"
        ></a>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>
