<nz-card nzTitle="{{ title }}" class="card-center">
  <form nz-form [formGroup]="validateForm">
    <!-- <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="id"
        >Broker Id</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Broker Id!"
      >
        <input nz-input formControlName="id" id="id" />
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="brokerId"
        >Broker Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Broker Name!"
      >
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Choose Broker"
          formControlName="brokerId"
        >
          <nz-option
            *ngFor="let broker of brokers"
            [nzLabel]="broker.brokerName"
            [nzValue]="broker.id"
          ></nz-option>
        </nz-select>
        <!-- <nz-select nzShowSearch nzAllowClear formControlName="brokerId">
          <nz-option
            *ngFor="let broker of brokers"
            [nzLabel]="broker.brokerName"
            [nzValue]="broker.id"
          ></nz-option>
        </nz-select> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="billNumber"
        >Payment Field</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Bill Number!"
      >
        <input
          autocomplete="off"
          nz-input
          formControlName="billNumber"
          id="billNumber"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="billDate"
        >Bill Date</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Bill Date!"
      >
        <!-- <input nz-input formControlName="billDate" id="billDate" /> -->
        <nz-date-picker
          nzMode="date"
          formControlName="billDate"
          id="billDate"
          (ngModelChange)="onChange($event)"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="billQuantity"
        >Bill Quantity</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Bill Quantity!"
      >
        <input
          autocomplete="off"
          nz-input
          formControlName="billQuantity"
          id="billQuantity"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="billAmount"
        >Bill Amount</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Bill Amount!"
      >
        <input
          autocomplete="off"
          nz-input
          formControlName="billAmount"
          id="billAmount"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button (click)="submitForm()" nz-button nzType="primary">
          Submit
        </button>
        <button (click)="cancelForm()" nz-button class="lm">cancel</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
