<nz-card nzTitle="Payment" [nzExtra]="extraTemplate" class="tm">
  <nz-table
    [nzLoading]="loading"
    [nzPageSize]="10"
    [nzPageSizeOptions]="[5, 10, 20]"
    #paymentTable
    nzShowPagination
    nzShowSizeChanger
    nzSize="small"
    [nzShowTotal]="rangeTemplate"
    [nzData]="payment"
  >
    <thead>
      <tr>
        <th>S.No</th>
        <th>Broker Name</th>
        <!-- <th>Payment Method</th> -->
        <th>Payment Date</th>
        <th>Paid Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of paymentTable.data; let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ data.brokerName }}</td>
        <!-- <td>{{ data.paymentField }}</td> -->
        <td>{{ data.paymentDate | date: "yyyy-MM-dd" }}</td>
        <td>{{ data.paymentAmount }}</td>
        <td>
          <a
            [routerLink]="['/payment/edit', data.id]"
            nz-icon
            [nzType]="'edit'"
            [nzTheme]="'twotone'"
            nz-tooltip
            nzTooltipTitle="Edit"
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-tooltip
            nzTooltipTitle="Delete"
            nz-icon
            [nzType]="'delete'"
            [nzTheme]="'twotone'"
            [nzTwotoneColor]="'#eb2f96'"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure,you want to delete this payment?"
            [nzIcon]="iconTpl"
            nzOkText="ok"
            nzCancelText="Cancel"
            (nzOnConfirm)="delData(data.id)"
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <form class="nz-row" [formGroup]="validateForm">
    <nz-form-item class="mw">
      <nz-form-control nzErrorTip="Broker Name required!">
        <nz-select
          class="mw"
          formControlName="brokerId"
          nzPlaceHolder="Choose Broker"
        >
          <nz-option
            *ngFor="let broker of brokers"
            [nzLabel]="broker.brokerName"
            [nzValue]="broker.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="lm mw">
      <nz-form-control nzErrorTip="Method required!">
        <nz-select nzPlaceHolder="Choose Method" formControlName="field">
          <nz-option nzLabel="Commission" nzValue="COMMN"></nz-option>
          <nz-option nzLabel="Bonus" nzValue="BONUS"></nz-option>
          <!-- <nz-option nzLabel="Both" nzValue="BOTH"></nz-option> -->
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="lm">
      <nz-form-control nzErrorTip="Date required!">
        <nz-range-picker
          nzSeparator="-"
          [nzDisabledDate]="disabledDate"
          formControlName="rangePicker"
          (ngModelChange)="onChange($event)"
        ></nz-range-picker>
        <button nz-button nzType="primary" class="lm" (click)="onSubmit()">
          Submit
        </button>
        <button
          nz-col
          nz-button
          nzType="primary"
          [routerLink]="['/payment/add']"
          class="lm"
        >
          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
          Add
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
<!-- <ng-template #header>
  <div nz-row nzJustify="end">
    <button
      nz-col
      nz-button
      nzType="primary"
      [routerLink]="['/brokers/add']"
      class="lm"
    >
      Add
    </button>
  </div>
</ng-template> -->
