<nz-card nzTitle="{{ title }}" class="card-center">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="brokerId"
        >Broker Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Broker Name!"
      >
        <nz-select
          [nzDisabled]="disabled ? true : false"
          nzShowSearch
          nzPlaceHolder="Choose Broker"
          formControlName="brokerId"
          (ngModelChange)="bId($event)"
        >
          <nz-option
            *ngFor="let broker of brokers"
            [nzLabel]="broker.brokerName"
            [nzValue]="broker.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="paymentField"
        >Payment Field</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Payment Field!"
      >
        <nz-select
          [nzDisabled]="disabled ? true : false"
          nzShowSearch
          nzPlaceHolder="Choose Method"
          formControlName="paymentField"
          (ngModelChange)="pField($event)"
        >
          <nz-option nzLabel="Commission" nzValue="COMMN"></nz-option>
          <nz-option nzLabel="Bonus" nzValue="BONUS"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="paymentDate"
        >Payment Date</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Payment Date!"
      >
        <nz-date-picker
          nzMode="date"
          formControlName="paymentDate"
          id="paymentDate"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="paymentAmount"
        >Payment Amount</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Payment Amount!"
      >
        <input
          autocomplete="off"
          nz-input
          formControlName="paymentAmount"
          id="paymentAmount"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24">To Be Paid</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          style="width: 100px"
          [disabled]="true"
          value="{{ toBePaid }}"
        />
        <button
          *ngIf="disabled ? false : true"
          nz-button
          nzType="primary"
          class="lm"
          (click)="calculate()"
        >
          Calculate
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button (click)="submitForm()" nz-button nzType="primary">
          Submit
        </button>
        <button (click)="cancelForm()" nz-button class="lm">cancel</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
