<nz-card nzTitle="Payment" [nzExtra]="extraTemplate" class="tm">
  <nz-table
    *ngIf="hideTable"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [nzPageSizeOptions]="[5, 10, 20]"
    #paymentTable
    nzShowPagination
    nzShowSizeChanger
    nzSize="small"
    [nzShowTotal]="rangeTemplate"
    [nzData]="payment"
  >
    <thead>
      <tr>
        <th>S.No</th>
        <th>Broker Name</th>
        <th>Payment Date</th>
        <th>Paid Amount</th>
        <!-- <th>Address Line 2</th>
        <th>City</th>
        <th>Mobile</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of paymentTable.data; let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ data.brokerName }}</td>
        <td>{{ data.paymentDate | date: "yyyy-MM-dd" }}</td>
        <td>{{ data.paymentAmount }}</td>
        <!-- <td>{{ data.addressLine2 }}</td>
        <td>{{ data.city }}</td>
        <td>{{ data.contactNumber }}</td> -->
        <td>
          <a
            [routerLink]="['/brokers/edit', data.id]"
            nz-icon
            [nzType]="'edit'"
            [nzTheme]="'twotone'"
            nz-tooltip
            nzTooltipTitle="Edit"
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-tooltip
            nzTooltipTitle="Delete"
            nz-icon
            [nzType]="'delete'"
            [nzTheme]="'twotone'"
            [nzTwotoneColor]="'#eb2f96'"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            [nzIcon]="iconTpl"
            nzOkText="ok"
            nzCancelText="cancel"
            (nzOnConfirm)="delData(data.id)"
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Choose Broker"
    [(ngModel)]="brokerId"
  >
    <nz-option
      *ngFor="let broker of brokers"
      [nzLabel]="broker.brokerName"
      [nzValue]="broker.id"
    ></nz-option>
  </nz-select>
  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Choose Method"
    [(ngModel)]="paymentField"
  >
    <nz-option nzLabel="Commission" nzValue="COMMN"></nz-option>
    <nz-option nzLabel="Bonus" nzValue="BONUS"></nz-option>
  </nz-select>
  <nz-range-picker
    [(ngModel)]="date"
    (ngModelChange)="onChange($event)"
  ></nz-range-picker>
  <button nz-button nzType="primary" class="lm" (click)="loadData()">
    Submit
  </button>

  <button
    nz-col
    nz-button
    nzType="primary"
    [routerLink]="['/payment/add']"
    class="lm"
  >
    Add
  </button>
</ng-template>
<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
<!-- <ng-template #header>
  <div nz-row nzJustify="end">
    <button
      nz-col
      nz-button
      nzType="primary"
      [routerLink]="['/brokers/add']"
      class="lm"
    >
      Add
    </button>
  </div>
</ng-template> -->
