<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div *ngIf="!isCollapsed" class="logo">
      <img src="../../assets/logoWithName.png" />
    </div>
    <div *ngIf="isCollapsed" class="slogo">
      <img src="../../assets/logo.png" />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/brokers">
        <i nz-icon nzType="user"></i>
        <span>Broker</span>
      </li>
      <li nz-menu-item routerLink="/summary">
        <i nz-icon nzType="stock" nzTheme="outline"></i>
        <span>Sales Summary</span>
      </li>
      <li nz-menu-item [routerLink]="['/calculation/COMMN']">
        <i nz-icon nzType="area-chart" nzTheme="outline"></i>
        <span>Commission</span>
      </li>
      <li nz-menu-item [routerLink]="['/calculation/BONUS']">
        <i nz-icon nzType="area-chart" nzTheme="outline"></i>
        <span>Bonus</span>
      </li>
      <li nz-menu-item routerLink="/payment">
        <i nz-icon nzType="dollar" nzTheme="outline"></i>
        <span>Payment</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
