<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <a href="/">
      <div *ngIf="!isCollapsed" class="logo">
        <img src="../../assets/logoWithName.png" />
      </div>
      <div *ngIf="isCollapsed" class="slogo">
        <img src="../../assets/logo.png" />
      </div>
    </a>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container
        *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"
      ></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children"
            nz-menu-item
            [nzPaddingLeft]="menu.level * 24"
            [nzDisabled]="menu.disabled"
            [nzSelected]="menu.selected"
            [nzMatchRouter]="menu.path"
            [routerLink]="menu.path"
          >
            <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
            <span>{{ menu.title }}</span>
          </li>
          <!-- <li
            *ngIf="menu.children"
            nz-submenu
            [nzPaddingLeft]="menu.level * 24"
            [nzOpen]="menu.open"
            [nzTitle]="menu.title"
            [nzIcon]="menu.icon"
            [nzDisabled]="menu.disabled"
            (nzOpenChange)="openHandler(menu.title)"
          >
            <ul>
              <ng-container
                *ngTemplateOutlet="
                  menuTpl;
                  context: { $implicit: menu.children }
                "
              ></ng-container>
            </ul>
          </li> -->
        </ng-container>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" nz-row nzJustify="space-between">
        <div nz-col>
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </span>
        </div>
        <div nz-col class="rm">
          <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
            <i
              nz-icon
              nzType="user"
              style="font-size: 20px; color: rgb(0, 21, 41)"
              class="trigger"
            ></i>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>
                  <i nz-icon nzType="profile" nzTheme="outline"></i>Profile
                </li>
                <li nz-menu-item>
                  <i nz-icon nzType="setting" nzTheme="outline"></i>Settings
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <i nz-icon nzType="logout" nzTheme="outline"></i>Log out
                </li>
              </ul>
            </nz-dropdown-menu>
          </a>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
