<nz-card nzTitle="Sales Summary" class="tm" [nzExtra]="extraTemplate">
  <nz-table
    [nzLoading]="loading"
    [nzPageSize]="10"
    [nzPageSizeOptions]="[5, 10, 20]"
    #salesTable
    nzShowPagination
    nzShowSizeChanger
    nzSize="small"
    [nzData]="salesSummary"
    [nzShowTotal]="rangeTemplate"
  >
    <thead>
      <tr>
        <th>S.No</th>
        <th
          *ngFor="let data of sort"
          [nzSortOrder]="data.sortOrder"
          [nzSortFn]="data.sortFn"
          [nzSortDirections]="data.sortDirections"
        >
          {{ data.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let data of salesTable.data | salesSearch: searchValue;
          let index = index
        "
      >
        <td>{{ index + 1 }}</td>
        <td>{{ data.brokerName }}</td>
        <td>{{ data.billNumber }}</td>
        <td>{{ data.billDate | date: "yyyy-MM-dd" }}</td>
        <td>{{ data.billQuantity }}</td>
        <td>{{ data.billAmount }}</td>
        <td>
          <a
            [routerLink]="['/summary/edit', data.id]"
            nz-icon
            [nzType]="'edit'"
            [nzTheme]="'twotone'"
            nz-tooltip
            nzTooltipTitle="Edit"
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-tooltip
            nzTooltipTitle="Delete"
            nz-icon
            [nzType]="'delete'"
            [nzTheme]="'twotone'"
            [nzTwotoneColor]="'#eb2f96'"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            [nzIcon]="iconTpl"
            nzOkText="ok"
            nzCancelText="cancel"
            (nzOnConfirm)="delData(data.id)"
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <div nz-row>
    <div nz-col>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          [(ngModel)]="searchValue"
          type="text"
          nz-input
          placeholder="Search..."
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <button
      nz-col
      nz-button
      nzType="primary"
      [routerLink]="['/summary/add']"
      class="lm"
    >
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      Add
    </button>
  </div>
</ng-template>

<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
